/2ºBimestre/OrdenacaoSelecao/nbproject/private/
/2ºBimestre/OrdenacaoSelecao/build/
/2ºBimestre/OrdenacaoSelecao/dist/
/2ºBimestre/OrdenacaoBolha/nbproject/private/
/2ºBimestre/OrdenacaoBolha/build/
/2ºBimestre/OrdencaoInsercao/build/
/2ºBimestre/OrdencaoInsercao/nbproject/private/
/2ºBimestre/Recursivo/nbproject/private/
/2ºBimestre/Recursivo/build/
/2ºBimestre/somarRecursiva/nbproject/private/
/2ºBimestre/somarRecursiva/build/
/2ºBimestre/PesquisaLinear/nbproject/private/
/2ºBimestre/PesquisaLinear/build/
/2ºBimestre/PesquisaBinaria/nbproject/private/
/2ºBimestre/PesquisaBinaria/build/
/2ºBimestre/ExemploMenu/nbproject/private/
/2ºBimestre/ExemploMenu/build/
/2ºBimestre/ExemploMenu/dist/
