/2ºBimestre/OrdenacaoSelecao/nbproject/private/
/2ºBimestre/OrdenacaoSelecao/build/
/2ºBimestre/OrdenacaoSelecao/dist/
/2ºBimestre/OrdenacaoBolha/nbproject/private/
/2ºBimestre/OrdenacaoBolha/build/
/2ºBimestre/OrdencaoInsercao/build/
/2ºBimestre/OrdencaoInsercao/nbproject/private/
